# Strapi / Postgres env example

# Database
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=dailynews_db
DATABASE_USERNAME=dailynews
DATABASE_PASSWORD=robiul234

# Admin (use these to create the first admin)
STRAPI_ADMIN_EMAIL=fajilab166@gmail.com
STRAPI_ADMIN_PASSWORD=robiul234

# Change APP_KEYS / SECRETS in production
APP_KEYS=replace_this_in_production
API_TOKEN_SALT=replace_this_in_production
ADMIN_JWT_SECRET=replace_this_in_production
JWT_SECRET=replace_this_in_production
